<div class="container mt-5">
  <h2>Devizák Listája</h2>
  <ul class="list-group mt-3">
    <li class="list-group-item" *ngFor="let currency of currencies" (click)="navigateToExchangeRateList()">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p><strong>Nap:</strong> {{ currency.day }}</p>
          <p><strong>Deviza:</strong> {{ currency.currency }}</p>
          <p><strong>Érték:</strong> {{ currency.value }}</p>
          <p><strong>Unit:</strong> {{ currency.unit }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
